html {
	scroll-behavior: smooth;
}

body {
	padding: 0;
	margin: 0;
	--main-color: #ff7f00;
	--background-color: rgba(0, 0, 0, 0.1);
	font-family: "Roboto";
}

header {
	background-color: var(--main-color);
}

h1 {
	margin-block-start: 0;
	margin-block-end: 0;
}

.headline-basket {
	margin-top: 16px;
	margin-bottom: -24px;
}

footer {
	display: flex;
	justify-content: center;
	background-color: var(--main-color);
	padding: 32px 32px 32px 32px;
}

.header-img {
	margin-left: 16px;
	margin-top: 16px;
	width: 200px;
}

/* MAIN */

.main-div {
	display: flex;
}

.main-section-left {
	width: 80%;
}

.resturant-img-div {
	background-image: url(../assets/img/background-img.png);
	background-position: center;
	width: 100%;
	height: 30vh;
	display: flex;
	justify-content: center;
	align-items: end;
}

.resturant-info-img {
	backdrop-filter: blur(5px);
	border-radius: 50%;
	width: 150px;
	height: 150px;
}

.resturants-text-div {
	margin-left: 16px;
}

.resturant-headline {
	margin-block-start: 0;
	margin-block-end: 0;
	margin-top: 16px;
}

.ratings {
	color: var(--main-color);
}

.nav-btn-row {
	background-color: var(--background-color);
	padding-top: 16px;
	padding-bottom: 16px;
}

.nav-btn {
	color: black;
	text-decoration: none;
	margin-left: 16px;
}

.nav-btn:hover {
	color: black;
	text-decoration: underline;
}

.basket-section {
	flex-grow: 1;
	box-shadow: -10px 0px 10px 0px rgba(0, 0, 0, 0.1);
	height: 100%;
	position: sticky;
	top: 0;
}

.order-btn-div {
	display: flex;
	justify-content: center;
	margin-bottom: 16px;
}

.order-btn-main {
	width: 80%;
	margin-left: 16px;
	margin-right: 16px;
	background-color: var(--main-color);
	font-size: 24px;
	border-radius: 16px;
	border: 0px;
	cursor: pointer;
}

.order-btn-main:hover {
	background-color: #ff9328;
}

/* Dishes */

.dishes-main-div {
	margin-left: 16px;
}

.dishes-headline-div {
	margin-left: -16px;
}

.dishes-headline {
	margin-block-start: 0;
	margin-left: 16px;
}

.img-style {
	background-position: center;
	height: 150px;
	margin-top: 32px;
	margin-right: 16px;
	border-radius: 16px;
}

.dishes-burger-img-div {
	background-image: url(../assets/img/burger1.png);
}

.dishes-burger-menu-img-div {
	background-image: url(../assets/img/burger2.png);
}

.dishes-hot-dog-img-div {
	background-image: url(../assets/img/hotdog.png);
}

.prices-main {
	margin-top: -16px;
	padding-left: 16px;
	padding-right: 16px;
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	align-items: center;
}

.prices {
	margin-top: 8px;
}

.basket-btn-div {
	display: none;
	justify-content: center;
	bottom: 0;
}

.open-basket-btn {
	width: 100%;
}

/* RESPONSIVE */

@media (max-width: 1050px) {
	.basket-section {
		display: none;
	}

	.main-section-left {
		width: 100%;
	}

	.basket-btn-div {
		display: flex;
		padding-left: 16px;
		padding-right: 16px;
		margin-top: 16px;
		margin-bottom: 16px;
	}

	.open-basket-btn {
		background-color: var(--main-color);
		padding: 16px 16px 16px 16px;
		font-size: 24px;
		border: 0px solid;
		border-radius: 16px;
	}
}
