/* Basket */
.basket-headline-div {
	display: flex;
	justify-content: center;
}

.dish {
	border: 1px solid var(--background-color);
	margin-right: 16px;
	margin-bottom: 16px;
	border-radius: 16px;
	display: flex;
	justify-content: space-between;
}

.inner-dish {
	margin-left: 16px;
}

.add-btn {
	border: 1px solid var(--background-color);
	border-radius: 8px;
	margin-top: 8px;
	margin-right: 8px;
	background-color: inherit;
	cursor: pointer;
}

.add-btn:hover {
	border: 1px solid gray;
}

.orange {
	color: var(--main-color);
}

.basket-main-div {
	border: 1px solid var(--background-color);
	border-radius: 16px;
	margin-left: 4px;
	margin-right: 4px;
	margin-bottom: 8px;
}

.basket-main-div {
	padding-left: 16px;
	padding-right: 16px;
}

.ammount-btn {
	background-color: inherit;
	border: 1px solid var(--background-color);
	border-radius: 8px;
}

.ammount-btn:hover {
	border: 1px solid black;
	transition-duration: 0.5s;
}

.ammount-div {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
